@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body{
    background-color: azure;
    background: #780206;  /* fallback for old browsers */
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family:Quicksand,sans-serif;
    text-align:center;

}
.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:75px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.08);
}
.header .nav_links{
    list-style:  none;
}
.header .nav_links li{
    display: inline-block;
    padding: 0 20px;
    transition: all 0.1s;
}
.header .nav_links a{
    font-size: 300;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header .nav_links li:hover{
    transform: scale(1.15);
}

.header .btn button{
    font-weight: 700;
    color: #ffffff;
    padding: 8px 20px;
    background: rgb(250, 47, 47);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
.header .btn button:hover{
    transform: scale(1.06);
    background: rgb(255, 48, 48);
    color: white;
}
.header .btn_svg button{
    font-weight: 700;
    padding: 5px 7px;
    background: rgb(250, 47, 47);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
.header .btn_svg button:hover{
    transform: scale(1.2);
}
p{
    font-size: 30px;
    color: white;
}