.navbar{
    width: 100%;
    padding: 16px 12px;
    background-color: var(--violet);
    color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
    font-weight: 400;
}

.navbar-list{
    display: flex;
    flex-direction: column;
    gap: 22px;
    list-style: none;
    font-weight: 400;
}

.navbar-link{
    text-decoration: none;
    color: var(--violet);
}

.navbar-menu{
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 340px;
    background-color: #fff;
    padding: 16px;
    transition: left .3s;
}

.navbar-menu-show{
    left: 0;
}

.navbar-btn{
    all: unset;
    width: 32px;
    height: 32px;
    background-image: url("menu.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .navbar-expanded-md .navbar-menu{
        display: block;
        position: static;
        height: auto;
        width: auto;
        padding: 0;
        background-color: transparent;
    }
    .navbar-expanded-md .navbar-menu .navbar-list{ 
        flex-direction: row;
    }
    .navbar-expanded-md .navbar-menu .navbar-list .navbar-link{ 
        color: #fff;
    }
    .navbar-expanded-md .navbar-btn{
        display: none;
    }
}


.text-light{
    color: #fff;
}

.text-dark{
    color: rgb(24, 24, 24);
}
